@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Slab", serif;
    background: #fff;
}

.wrapper {
    overflow: hidden;
}

.title {
    font-size: 54px;
    line-height: calc(70 / 60);
    font-weight: 700;
    color: #000000;
    margin-bottom: 64px;
    position: relative;
}

.title[data-number] {
    padding-top: 80px;
}

.title::before {
    content: attr(data-number);
    position: absolute;
    left: 0;
    top: 0;
    font-size: 140px;
    line-height: .68;
    font-weight: 700;
    color: #f3f3f3;
    height: 78px;
    overflow: hidden;
}

.title.center::before {
    left: 50%;
    transform: translateX(-50%);
}

.title.white {
    color: #fff;
}

.title.white::before {
    color: #141414;
}

@media (max-width: 1200px) {

    .title {
        font-size: 52px;
        margin-bottom: 55px;
    }

    .title[data-number] {
        padding-top: 65px;
    }

    .title::before {
        font-size: 120px;
        height: 65px;
    }
}

@media (max-width: 991px) {

    .title {
        font-size: 42px;
        margin-bottom: 48px;
    }

    .title[data-number] {
        padding-top: 55px;
    }

    .title::before {
        font-size: 100px;
        height: 55px;
    }
}

@media (max-width: 767px) {

    .title {
        font-size: 34px;
        margin-bottom: 40px;
    }

    .title[data-number] {
        padding-top: 48px;
    }

    .title::before {
        font-size: 90px;
        height: 48px;
    }

    .btn {
        min-height: 65px;
        min-width: 205px;
        font-size: 18px;
    }
}

@media (max-width: 575px) {

    .title {
        font-size: 28px !important;
        margin-bottom: 32px;
    }

    .title br {
        display: none !important;
    }

    .title[data-number] {
        padding-top: 50px;
    }

    .title::before {
        font-size: 80px !important;
        height: 42px !important;
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    text-decoration: none;
    gap: 10px;
    min-height: 70px;
    min-width: 220px;
    background-color: #1a8d7e;
    border-radius: 2px;
    font-size: 19px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    padding: 10px 25px;
    border: none;
    outline: none;
}

.btn:hover {
    color: #fff;
    background-color: #1a8d7e;
    box-shadow: 0px 5px 7px 2px rgba(2, 117, 120, 0.43);
}



.menu {
    position: fixed;
    width: 600px;
    height: 100%;
    right: -600px;
    top: 0;
    background-color: #fff;
    z-index: 100;
    transition: .25s all ease-in-out;
    overflow-y: auto;
    box-shadow: -0.25rem 0.375rem 0.4375rem 0.0625rem rgba(0, 0, 0, .42);
}

.menu.open {
    right: 0;
}

.menu__container {
    margin: 0 auto;
    padding: 100px 64px 100px 86px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    height: 100%;
}

.menu__close {
    position: absolute;
    right: 64px;
    top: 30px;
    width: 35px;
    height: 35px;
    z-index: 2;
    cursor: pointer;
}

.menu__close:before,
.menu__close:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #4c4c4c;
    transition: .25s all ease-in-out;
}

.menu__close:hover:before,
.menu__close:hover:after {
    opacity: .8;
}

.menu__close:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.menu__close:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.menu__list ul {
    margin: 0;
    padding: 0 36px 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu__list ul li {
    list-style: none;
}

.menu__list ul li a {
    display: block;
    color: #000;
    font-weight: 700;
    line-height: 1.2;
    font-size: 20px;
    letter-spacing: 0.0625rem;
    text-decoration: none;
    font-family: 'Roboto';
}

.menu__list ul li a:hover {
    color: #1a8d7e;
    text-decoration: none;
}

.menu__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu__infoTitle {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
    font-family: 'Roboto';
}

.menu__link {
    display: block;
    color: #000;
    font-weight: 350;
    margin-bottom: 5px;
    text-decoration: none;
    font-size: 22px;
    line-height: 1.9375rem;
    font-family: 'Roboto';
}

.menu__link:hover {
    color: #1a8d7e;
}

.menu__link:last-child {
    margin-bottom: 0;
}

.menu__social {
    margin: 20px 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 0 30px
}

.menu__social a {
    display: block;
}

.menu__social a svg path {
    transition: .25s all ease-in-out;
}

.menu__social a:hover svg path {
    fill: #1A8D7E
}

@media (max-width: 1200px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .menu {
        width: 100%;
        right: -100%;
    }
}

@media (max-width: 575px) {
    .menu__container {
        padding: 70px 40px;
    }

    .menu__list ul li a {
        font-size: 18px;
    }

    .menu__close {
        right: 15px;
        top: 15px;
    }
}

@media (max-width: 360px) {
    .menu__container {
        padding: 70px 20px;
    }
}

.header {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    z-index: 20;
}

.header .container {
    max-width: 1191px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header__logo {
    display: block;
    max-width: 8rem;
    width: 100%;
}

.header__logo img {
    width: 100%;
}

.header__burger {
    display: flex;
    align-items: center;
    gap: 22px;
    cursor: pointer;
    transition: .25s all ease-in-out;
}

.header__burger:hover {
    opacity: .9;
}

.header__burgerTitle {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-family: 'Roboto';
    color: #ffffff;
}

.header__burgerIcon {
    height: 26px;
    width: 36px;
    position: relative;
    cursor: pointer;
    flex: none;
}

.header__burgerIcon span {
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 12px;
    transition: .25s all ease-in-out;
}

.header__burgerIcon::before {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: .25s all ease-in-out;
}

.header__burgerIcon::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: .25s all ease-in-out;
}

.header__burgerIcon.active span {
    transform: scale(0);
}

.header__burgerIcon.active::after {
    transform: rotate(-45deg);
    top: 9px;
}

.header__burgerIcon.active::before {
    transform: rotate(45deg);
    top: 9px;
}

@media (max-width: 1200px) {}

@media (max-width: 991px) {
    .header {
        top: 40px;
    }

    .header__burgerTitle {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .header__burgerTitle {
        font-size: 15px;
    }

    .header__burger {
        gap: 15px;
    }
}

@media (max-width: 575px) {
    .header {
        top: 25px;
    }

    .header__logo {
        max-width: 100px;
    }

    .header__burgerTitle {
        font-size: 13px;
    }

    .header__burgerIcon {
        height: 17px;
        width: 23px;
    }

    .header__burgerIcon span {
        height: 1px;
        top: 8px;
    }

    .header__burgerIcon::before {
        height: 1px;
    }

    .header__burgerIcon::after {
        height: 1px;
    }
}

.hero {
    position: relative;
    padding: 203px 0 232px;
    background: #000000;
    line-height: 0;
    overflow: hidden;
}

@media (max-width:1200px) {
    .hero {
        padding: 100px 0 70px;
    }
}

@media (max-width:768px) {
    .hero {
        padding: 102px 0 0;
    }
}

.hero .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1088px;
    margin: 0 auto;
}

@media (max-width:768px) {
    .hero .container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

}

.hero .hero_info {
    display: flex;
    align-items: flex-start;
    gap: 22px;
}

@media (max-width:768px) {
    .hero .hero_info {
        max-width: 320px;
    }
}

.hero .hero_img {
    margin-bottom: -13px;
    line-height: 0;
}

.hero_img_content {
    position: relative;
    width: 50%;
}

@media (max-width:768px) {
    .hero_img_content {
        position: static;
        width: 100%;
    }
}

.hero_img_content img {
    position: absolute;
    right: -150px;
    top: -34px;
}

@media (max-width:1200px) {
    .hero_img_content img {
        position: absolute;
        right: -10px;
        top: 20px;
        width: 120%;
    }

}


@media (max-width:768px) {
    .hero .hero_img {
        width: 100%;
        position: static;
        margin-left: -24px;
    }
}

.hero .container h1 {
    color: #FFF;
    font-family: "Roboto Slab";
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
}

@media (max-width: 1200px) {
    .hero .container h1 {
        font-size: 40px;
        line-height: normal;
    }
}

@media (max-width: 992px) {
    .hero .container h1 {
        font-size: 36px;
    }
}

@media (max-width:768px) {
    .hero .container h1 {
        font-size: 32px;
        text-align: center;
    }
}


.hero .container .hero_subtitle {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: 75px;
    margin-top: 8px;
}

@media (max-width: 1200px) {
    .hero .container .hero_subtitle {
        font-size: 24px;
        line-height: 65px;
        margin-top: 8px;
    }
}

@media (max-width: 992px) {
    .hero .container .hero_subtitle {
        font-size: 22px;
        line-height: 35px;
    }
}

@media (max-width:768px) {
    .hero .container .hero_subtitle {
        text-align: center;
        line-height: 75px;
        margin-top: 0;
    }
}

.hero .hero_line {
    margin-top: 41px;
}

@media (max-width: 1200px) {
    .hero .hero_line {
        display: none;
    }

}

.hero .container .hero_description {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 37px;
    max-width: 481px;
    padding: 34px 0 0 0;
    margin-left: 64px;
}

@media (max-width: 1700px) {
    .hero .container .hero_description {
        padding-bottom: 20px;
    }

}

@media (max-width: 1200px) {
    .hero .container .hero_description {
        margin-left: 20px;
        font-size: 22px;
        padding-top: 18px;
    }

}

@media (max-width: 992px) {
    .hero .container .hero_description {
        margin-left: 20px;
        font-size: 18px;
        padding-top: 18px;
    }

}

@media (max-width:768px) {
    .hero .container .hero_description {
        margin-left: 0;
        font-size: 16px;
        padding-top: 0px;
        text-align: center;
        line-height: 25px;
        width: 100%;
        max-width: 310px;
        padding-bottom: 8px;

    }
}

.offers {
    padding: 106px 0 0;
}

@media (max-width:1024px) {
    .offers {
        padding: 90px 0 0;
    }

}

@media (max-width:768px) {
    .offers {
        padding: 78px 0 0;
    }
}

.offers .container {
    max-width: 1145px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.benefits .benefits_img {
    margin-top: 73px;
}

@media (max-width:768px) {
    .benefits .benefits_img {
        margin-top: 50px;
    }
}

@media (max-width:1200px) {
    .offers .container {
        padding: 0 16px;
        flex-wrap: wrap;
        gap: 16px;
    }
}

.offers .container .offer_item {
    border-radius: 3px;
    border: 1px solid #D8D8D8;
    background: rgba(217, 217, 217, 0.00);
    width: calc(33.33% - 16.5px);
    padding: 54px 24px 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

@media (max-width:1200px) {
    .offers .container .offer_item {
        padding: 44px 20px 47px;
        width: calc(50% - 8px);
    }
}

@media (max-width:1024px) {
    .offers .container .offer_item {
        padding: 44px 18px 47px;
    }
}

@media (max-width:768px) {
    .offers .container .offer_item {
        padding: 30px 24px 32px;
        width: 100%;
        gap: 20px;
    }
}


.offers .offer_item img {
    height: 90px;
}

.offers .offer_item .offer_item_title {
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media (max-width:1024px) {
    .offers .offer_item .offer_item_title {
        text-align: center;
        font-size: 26px;
    }
}

.offers .offer_item p {
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    margin-top: 11px;
    max-width: 280px;
}

@media (max-width:1024px) {
    .offers .offer_item p {
        font-size: 19px;
        font-weight: 300;
        max-width: 270px;
        margin: 7px auto 0;

    }
}

.benefits {
    padding: 70px 0 175px;

}

.benefits.benefits2 {
    background: #F7F7F7;
}

.benefits.last {
    padding-bottom: 90px;
}

@media (max-width:1024px) {
    .benefits {
        padding: 70px 0 0;
    }
}

@media (max-width:768px) {
    .benefits {
        padding: 44px 0 57px;
    }


}

.benefits .container {
    max-width: 1247px;
    margin: 0 auto;
    padding: 0 16px;
}

.benefits_img {
    width: 100%;
    object-fit: contain;
    display: block;
    line-height: 0;
}

.benefits_img {
    border: 25px solid rgba(0, 0, 0, 0.89);
    outline: 7px solid black;
    border-radius: 60px;
    position: relative;
}

.benefits .benefits_img {
    border-radius: 48px;
}

@media (max-width:768px) {
    .benefits_img {
        border: 7px solid rgba(0, 0, 0, 0.89);
        outline: 2px solid black;
        border-radius: 16px !important;
        position: relative;
    }
}

.benefits_img .play {
    display: flex;
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background: #1A8D7E;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    margin: auto;
    transition: all .2s linear;
    padding-left: 15px;
    cursor: pointer;
}

@media (max-width:768px) {
    .benefits_img .play {
        display: flex;
        width: 64px;
        height: 64px;
        padding-left: 5px;
    }
}

.play:hover {
    box-shadow: 0 4px 8px 3px rgba(26, 141, 126, 0.36);
}



.benefits_img video {
    width: 100%;
    object-fit: contain;
    border-radius: 0;
}


.play img {
    width: 53px !important;
    line-height: normal;
}

@media (max-width:768px) {
    .play img {
        width: 22px !important;
        line-height: normal;
    }
}

.benefits_top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits_top_number {
    color: #F3F3F3;
    text-align: center;
    font-family: 'Roboto';
    font-size: 140px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 110px;
    overflow: hidden;
}

@media (max-width:768px) {
    .benefits_top_number {
        font-size: 80px;
        height: 61px;
    }

}

.benefits_title {
    color: #000;
    text-align: center;
    font-family: "Roboto Slab";
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

@media (max-width:768px) {

    .benefits_title {
        font-size: 28px;
        line-height: 34px;
    }

}

.benefits_subtitle {
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    margin-top: 57px;
}

@media (max-width:768px) {
    .benefits_subtitle {
        font-size: 24px;
        line-height: 28px;
        margin-top: 20px;
    }

    .benefits.benefits2 .benefits_subtitle {
        margin-top: 0;
    }

    .benefits.last .benefits_subtitle {
        margin-top: 0;
    }

    .benefits.last {
        padding-bottom: 50px;
    }
}

.benefits_img {
    margin-top: 50px;
    overflow: hidden;
}

@media (max-width:768px) {
    .benefits_img {
        margin-top: 24px;
    }
}

.card .benefits_top {
    max-width: 1090px;
    margin: 0 auto;
}

.card .card_banner {
    background: #000000 url('../images/bannaers.png');
    background-size: cover;
    padding: 137px 0 216px;
    margin-top: 76px;
    position: relative;
}

@media (max-width:1400px) {
    .card .card_banner {
        padding: 70px 0 113px;
    }
}

@media (max-width:768px) {
    .card .card_banner {
        padding: 45px 0 60px;
        margin-top: 37px;
    }
}

.card_banner .container {
    max-width: 1232px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

@media (max-width:1200px) {
    .card_banner .container {
        padding: 0 15px;
    }
}

@media (max-width:768px) {
    .card_banner .container {
        flex-direction: column;
        gap: 40px;
    }
}


.card .card_banner_number {
    color: #1B8D7E;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

@media (max-width:768px) {
    .card .card_banner_number {
        text-align: center;
    }
}

.card .card_banner_title {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    margin-top: 20px;
}

@media (max-width:1200px) {
    .card .card_banner_title {
        font-size: 32px;
        line-height: 40px;
        margin-top: 18px;
    }
}

@media (max-width:768px) {
    .card .card_banner_title {
        text-align: center;
    }
}

.card .card_banner_description {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    max-width: 519px;
    margin-top: 20px;
}

@media (max-width:1200px) {
    .card .card_banner_description {
        font-size: 18px;
        line-height: 30px;
        max-width: 399px;
        margin-top: 16px;
    }
}

@media (max-width:768px) {
    .card .card_banner_description {
        text-align: center;
        margin: 0 auto;
        padding-top: 10px;
        color: #FFF;
        text-align: center;
        font-family: 'Roboto';
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 25px;
    }
}

.card_banner_img img {
    position: absolute;
    right: 0;
    top: 80px;
}

@media (max-width:768px) {
    .card_banner_img {
        margin-right: -15px;
    }
}

@media (max-width:1725px) {
    .card_banner_img img {
        width: 55%;
    }
}

@media (max-width:1200px) {
    .card_banner_img img {
        width: 48%;
    }
}

@media (max-width:768px) {
    .card_banner_img img {
        position: static;
        width: 100%;
    }
}

.brand_design {
    padding-top: 187px;
}

@media (max-width:1200px) {
    .brand_design {
        padding-top: 76px;
    }
}

@media (max-width:768px) {
    .brand_design {
        padding-top: 56px;
    }
}

.brand_design .container {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

@media (max-width:1200px) {
    .brand_design .container {
        padding: 0 15px;
    }
}

@media (max-width:1200px) {
    .brand_design .single_slider {
        padding: 51px 22px 0 22px;
    }
}

@media (max-width:768px) {
    .brand_design .single_slider {
        padding: 14px 6px 0 13px;
        margin-top: 27px;
    }
}

.brand_design .single_slider_prev,
.brand_design .single_slider_next {
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C0C0C0;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 12;
    margin-top: 12%;
    transition: all .2s linear;
}

.brand_design .single_slider_prev:hover,
.brand_design .single_slider_next:hover {
    background: #1A8D7E;
    box-shadow: 0 4px 8px 3px rgba(26, 141, 126, 0.36);
}

@media (max-width:768px) {

    .brand_design .single_slider_prev,
    .brand_design .single_slider_next {
        width: 48px;
        height: 48px;
        margin-top: 0;
    }

    .brand_design .single_slider_prev,
    .brand_design .single_slider_next {
        width: 48px;
        height: 48px;
        margin-top: 0;
    }

    .brand_design .single_slider_prev svg,
    .brand_design .single_slider_next svg {
        width: 15px;
    }
}

.brand_design .buttons {
    display: flex;
    justify-content: space-between;
    height: 100%;
    position: absolute;
    align-items: center;
    width: calc(100% + 69px);
    top: 0;
    left: 0;
    margin-left: -36px;
}

@media (max-width:1200px) {
    .brand_design .buttons {
        display: flex;
        justify-content: space-between;
        height: 100%;
        position: absolute;
        align-items: center;
        width: calc(100% + -26px);
        top: 0;
        left: 0;
        margin-left: 10px;
        margin-top: 8%;
    }
}

@media (max-width:768px) {
    .brand_design .buttons {
        display: flex;
        justify-content: center;
        height: 100%;
        position: static;
        align-items: center;
        width: calc(100% + -26px);
        gap: 15px;
        margin-left: 10px;
        margin-top: 28px;
    }
}

.single_slider_swiper .swiper-slide img {
    width: 100%;
}

.design_top_number {
    color: #1B8D7E;
    text-align: center;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

.design_top {
    position: relative;
    z-index: 22;
}

.design_top p {
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    max-width: 620px;
    margin: 0 auto;
}

.design_top .benefits_subtitle {
    margin-top: 8px;
}

.design_top .benifits_desc {
    margin-top: 13px;
}

@media (max-width:768px) {
    .design_top .benifits_desc {
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 25px;
    }
}

.icons_design {
    background: #F7F7F7;
    padding: 68px 0 0;
    margin-top: 128px;
}

@media (max-width:768px) {
    .icons_design {
        margin-top: 68px;
        padding: 55px 0;
    }
}

.icons_design .container {
    margin: 0 auto;
    max-width: 1260px;
    padding: 0 15px;
}

.icons_design .icons_design_img img {
    width: 100%;
    margin-left: -25px;
}

@media (max-width:768px) {
    .icons_design .icons_design_img img {
        margin-left: -5px;
        transform: scale(.92);
    }
}

.icons_design .design_top {
    margin-bottom: -29px;
}

@media (max-width:768px) {
    .icons_design .design_top {
        margin-bottom: 11px;
    }

    .icons_design .icons_design_img {
        transform: scale(1.1);
    }
}

.icons_design .design_top .benifits_desc {
    text-align: left;
    max-width: 100%;
}

@media (max-width:768px) {
    .icons_design .design_top .benifits_desc {
        color: #000;
        font-size: 18px;
        line-height: 25px;
        text-align: center;

    }

    .icons_design .design_top .benifits_desc br {
        display: none;
    }
}

.icons_design .benefits_subtitle {
    text-align: left;
}

@media (max-width:768px) {
    .icons_design .benefits_subtitle {
        text-align: center;
    }
}

.icons_design .design_top_number {
    text-align: left;
}

@media (max-width:768px) {
    .icons_design .design_top_number {
        text-align: center;
    }
}

.constructors {
    margin-top: 95px;
}

@media (max-width:768px) {
    .constructors {
        margin-top: 64px;

    }

    .constructors .benefits_top {
        padding-bottom: 33px;
    }
}

.constructors .container {
    margin: 0 auto;
    max-width: 1232px;
    padding: 0 15px;
}


.constructors .benefits_subtitle {
    margin-top: 0;
}

.constructors .benefits_top {
    padding-bottom: 15px;
}

@media (max-width:768px) {
    .constructors .benefits_top {
        padding-bottom: 33px;
    }
}

.constructors .benefits_top {
    max-width: 980px;
    margin: 0 auto;
    padding-bottom: 0;

}

@media (max-width:768px) {
    .constructors .benefits_top {
        padding-bottom: 33px;
    }

}

.constructors .constructors_desc {
    max-width: 730px;
    text-align: center;
    margin-top: 20px;
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}

@media (max-width:768px) {
    .constructors .constructors_desc {
        font-size: 18px;
        font-weight: 300;
        line-height: 25px;
    }
}

.constructors.last .constructors_desc {
    text-align: left;
    margin-left: 0;
    margin-right: auto;
}

@media (max-width:768px) {
    .constructors.last {
        margin-top: 63px;
    }

    .constructors.last .design_top_number {
        text-align: center;
    }
}

.constructors .benefits_img img {
    width: 100%;
    display: block;
    object-fit: contain;
}

.constructors.last .benefits_img {
    border: 0;
    outline: none;
    border-radius: 0;
    margin-top: 0;
}

.constructors.last .benefits_img img {
    margin-left: -31px;
}

@media (max-width: 768px) {
    .constructors .benefits_img {
        margin-top: 0px;
    }
}

@media (max-width:768px) {
    .constructors.last .benefits_img img {
        margin-left: -5px;
    }

}

.constructors.last .benefits_top {
    align-items: flex-start;
    max-width: 1201px;

}

.constructors.last .benefits_subtitle {
    text-align: left;
}

.constructors.last .design_top_number {
    text-align: left;
}

@media (max-width:768px) {
    .constructors.last {
        padding-bottom: 56px;
    }

    .constructors.last .benefits_top {
        justify-content: center;
        align-items: center;
        padding-bottom: 24px;
    }

    .constructors.last .benefits_subtitle {
        text-align: center;
    }

    .constructors.last .constructors_desc {
        text-align: center;
        font-size: 18px;
        line-height: 24px;
    }
}

.system {
    background: #000;
}



.custom_checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.custom_checkbox input {
    display: none;
}

.custom_checkbox_box {
    width: 24px;
    height: 24px;
    border-radius: 3px;
    border: 2px solid #1B8D7E;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
}

.custom_checkbox_box svg {
    width: 18px;
    opacity: 0;
    transition: 0.2s ease;
}

.custom_checkbox input:checked+.custom_checkbox_box {
    background: #1B8D7E;
}

.custom_checkbox input:checked+.custom_checkbox_box svg {
    opacity: 1;
}

.system {
    padding-bottom: 122px;
}

@media (max-width:820px) {
    .system {
        padding-bottom: 0;
    }
}

.system .container {
    max-width: 1097px;
    margin: 0 auto;
    padding: 0 15px;
}

.system .system_content {
    display: flex;
    justify-content: space-between;
}

@media (max-width:820px) {
    .system .system_content {
        flex-direction: column;
        gap: 35px;
    }
}

.system .system_number {
    padding-top: 43px;
    color: #141414;
    text-align: left;
    font-family: 'Roboto';
    font-size: 140px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 154px;
    overflow: hidden;
}

@media (max-width:992px) {
    .system .system_number {
        font-size: 120px;
        height: 139px;
    }
}

@media (max-width:820px) {
    .system .system_number {
        text-align: center;
    }

    .system .system_title {
        text-align: center;
    }
}

@media (max-width:768px) {
    .system .system_number {
        color: #141414;
        text-align: center;
        font-size: 80px;
        font-weight: 700;
        line-height: normal;
        padding-top: 36px;
        height: 99px;
    }
}

.system .system_title {
    color: #FFF;
    font-family: "Roboto Slab";
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    margin-top: 23px;
}

@media (max-width:820px) {
    .system .system_title {
        color: #FFF;
        font-family: "Roboto Slab";
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
        margin-top: 23px;
        text-align: center;
    }

}

@media (max-width:768px) {
    .system .system_title {
        color: #FFF;
        text-align: center;
        font-family: "Roboto Slab";
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 34px;
    }



    .system .system_title a br {
        display: none !important;
    }

}

.system .system_info_items {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 39px;
}

@media (max-width:768px) {
    .system .system_info_items {
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

.system .system_item_title {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}

@media (max-width:820px) {
    .system .system_item_title {
        text-align: center;
    }
}

@media (max-width:768px) {
    .system .system_item_title {
        font-size: 19px;
    }
}



.system .system_img {
    position: relative;
    display: flex;
    width: 50%;
}

.system .system_img img {
    position: absolute;
    left: -200px;
    bottom: -191px;
    max-width: 1117px;
    object-fit: contain;
}

@media (max-width:1200px) {
    .system .system_img img {
        width: 180%;
        bottom: -60px;
        left: -120px;
    }
}

@media (max-width:820px) {
    .system .system_img {
        width: 100%;
        margin-left: auto;
        margin-right: -18px;
    }

    .system .system_img img {
        width: 100%;
        position: static;
        margin-bottom: -33px;
    }
}

.system .system_item_price {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin-top: 29px;
}

@media (max-width:820px) {
    .system .system_item_price {
        text-align: center;
    }
}

@media (max-width:768px) {
    .system .system_item_price {
        text-align: center;
        font-size: 34px;
        line-height: 20.933px;
        margin-top: 23px;
    }
}


.system .system_info_check {
    margin-top: 50px;
    max-width: 520px;

}

.system .system_info_check label {
    display: flex;
    gap: 25px;
    align-items: flex-start;
}

@media (max-width:1080px) {
    .system .system_info_check {
        margin: 28px auto 0;
    }
}

@media (max-width:1080px) {
    .system .system_info_check label {
        display: flex;
        gap: 11px;
        align-items: flex-start;
    }
}

.system .custom_checkbox_text {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}

.system .custom_checkbox_text a {
    font-weight: 700;
    color: #fff;
}

@media (max-width:768px) {
    .system .custom_checkbox_text {
        font-size: 18px;

    }

    .system .custom_checkbox_text a {
        width: 100%;
        display: block;
        font-weight: 700;
    }

    .system .custom_checkbox_text a br {
        display: none;
    }
}

.offer .container {
    margin: 0 auto;
    max-width: 1168px;
    padding: 0 15px;
}

.offer {
    margin: 100px 0 60px;
}

.offer .title {
    text-align: center;
}


.offer__table {
    font-family: 'Roboto';
    overflow-x: auto;
}

.offer__table table tr th {
    border: 1px solid #000;
    background-color: #000;
    font-size: 22px;
    line-height: calc(30 / 22);
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    padding: 25px 40px;
}

.offer__table table tr td {
    border: 1px solid #aeadad;
    font-size: 22px;
    line-height: calc(30 / 25);
    font-weight: 400;
    color: #000000;

    padding: 25px 35px;
}

.offer__table table tr td span {
    display: block;
    position: relative;
    padding-left: 30px;
}

.offer__table table tr td span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.offer__table .available::before {
    width: 18px;
    height: 16px;
    background-image: url(https://navigation.kulagin-group.ru/img/available.png);
}

.offer__table .unavailable::before {
    width: 15px;
    height: auto;
    aspect-ratio: 1;
    background-image: url(https://navigation.kulagin-group.ru/img/unavailable.png);
}

.offer__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
}

@media (max-width: 1200px) {
    .offer {
        margin: 80px 0;
    }

    .offer__table table tr th {
        font-size: 21px;
    }

    .offer__table table tr td {
        font-size: 20px;
    }

    .offer__footer {
        margin-top: 50px;
    }
}

@media (max-width: 991px) {
    .offer {
        margin: 70px 0;
    }

    .offer__table table tr td {
        padding: 20px 20px;
    }

    .offer__table table tr th {
        padding: 20px 15px;
    }

    .offer__table table tr th {
        font-size: 18px;
    }

    .offer__table table tr td {
        font-size: 18px;
    }

    .offer__table table tr td span::before {
        top: 4px;
    }

    .offer__footer {
        margin-top: 45px;
    }
}

@media (max-width: 767px) {
    .offer__table table tr th {
        font-size: 17px;
    }

    .offer__table table tr td {
        font-size: 17px;
    }

    .offer__table .available::before {
        width: 14px;
        height: 13px;
    }

    .offer__table .unavailable::before {
        width: 12px;
    }

    .offer__table table tr td span {
        padding-left: 24px;
    }

    .offer__table table tr td {
        padding: 15px 15px;
    }

    .offer__footer {
        margin-top: 40px;
    }

    .offer {
        margin: 60px 0;
    }
}

@media (max-width: 575px) {
    .offer__table table tr td {
        padding: 15px 20px;
    }

    .offer__table table {
        width: 600px;
    }

    .offer__table {
        width: calc(100% + 40px);
        margin: 0 -20px;
        padding: 0 20px;
    }

    .offer__footer {
        margin-top: 35px;
    }
}

.group .container {
    max-width: 1097px;
    margin: 0 auto;
    padding: 0 15px;

}

.group .group_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px 0;
    align-items: flex-start;
    margin-top: 52px;
}

@media (max-width:768px) {
    .group .benefits_title br {
        display: none;
    }

    .group .group_items {
        gap: 34px 0;
        margin-top: 38px;
    }
}

.group .group_item {
    width: calc(33.33% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width:992px) {
    .group .group_item {
        width: calc(50% - 30px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:768px) {
    .group .group_item {
        width: 100%;
    }
}

.group .group_item img {
    height: 88px;
    object-fit: contain;
}

.group .group_item .group_item_title {
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
}

@media (max-width:768px) {
    .group .group_item .group_item_title {
        text-align: center;
        font-size: 23px;
    }

    .group .group_item .group_item_title br {
        display: none;
    }
}

.group .group_item p {
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    margin-top: 15px;
}

@media (max-width:768px) {
    .group .group_item p br {
        display: none;
    }


    .group .group_item p {
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
    }

    .group .group_item img {
        height: 81px;
        object-fit: contain;
    }
}

.footer {
    background-color: #000;
    background-image: url(https://kulagin-group.ru/wp-content/themes/klggroup/assets/img/icon_ruler_bg_footer.png);
    background-repeat: repeat;
    background-position: center;
    padding: 90px 0 66px;
    margin-top: 125px;
}

.footer .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer__container {
    display: grid;
    grid-template-columns: auto auto 260px 210px;
    justify-content: space-between;
    gap: 30px;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    max-width: 155px;
    height: auto;
    margin-bottom: 50px;
}

@media (max-width:768px) {
    .footer__logo {
        margin-left: auto;
        margin-right: auto;
    }
}

.footer__logo::after {
    content: '';
    width: 35px;
    height: 2px;
    background-color: #fff;
    position: relative;
    display: block;
    flex: none;
    margin-top: 40px;
}

.footer__phones {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

@media (max-width:768px) {
    .footer__phones {
        align-items: center;

    }

}

.footer__phones a {
    display: block;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.0625rem;
    text-decoration: none;
    font-family: 'Roboto';
}

.footer__phones a:hover {
    color: #1a8d7e;
    text-decoration: none;
}

.footer__mail {
    display: block;
    margin: 24px 0 40px;
    font-size: 18px;
    color: #fff;
    font-family: 'Roboto';
}

@media (max-width:768px) {
    .footer__mail {
        text-align: center;
    }
}

.footer__mail:hover {
    color: #1a8d7e;
    text-decoration: none;
}

.footer__copyright {
    font-size: 14px;
    color: #fff;
    line-height: 1.375rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Roboto';
}

@media (max-width:768px) {
    .footer__copyright {
        align-items: center;
        flex-wrap: wrap;
    }

    .footer__copyright span {
        width: 50%;
        display: flex;
    }
}

.footer__copyright a {
    font-size: 14px;
    color: #fff;
    line-height: 1.375rem;
    text-decoration: none;
}

.footer__copyright a {
    font-size: 13px;
    color: #494848;
}

.footer__copyright a:hover {
    color: #1a8d7e;
    text-decoration: none;
}

.footer__title {
    font-family: var(--subfont);
    color: #fff;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 28px;
}

.footer__menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.footer__menu ul li {
    position: relative;
    list-style: none;
    padding-left: 54px;
}

.footer__menu ul li::before {
    content: '';
    width: 35px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 11px;
    transition: .25s all ease-in-out;
}

.footer__menu ul li a {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    text-decoration: none;
    font-family: 'Roboto';
}

.footer__menu ul li a:hover {
    color: #1a8d7e;
}

.footer__menu ul li:hover::before {
    background-color: #1a8d7e;
}

.footer__social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}


.footer__social a {
    display: block;
}

.footer__social a:hover {
    opacity: .8;
}

.footer__text {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    line-height: 1.625rem;
    max-width: 210px;
    margin-top: 135px;
    font-family: 'Roboto';
}

@media (max-width: 1200px) {}

@media (max-width: 991px) {
    .footer__container {
        grid-template-columns: 1fr 1fr;
        gap: 30px 100px;
    }

    .footer__social {
        justify-content: flex-start;
    }
}

@media (max-width: 767px) {

    .footer__container {
        grid-template-columns: 1fr;
    }

    .footer__text {
        margin-top: 30px;
    }
}

@media (max-width:768px) {
    .mobile_none {
        display: none;
    }
}

@media (max-width:768px) {
    .footer__social {
        justify-content: center;
        align-items: center;
    }
}